# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Qt Designer generated resource files
*.qrc
*.rcc

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# OS-specific files
.DS_Store
Thumbs.db

# SQLite database
*.sqlite3

# Ignore generated rc files
resources/ico_rc.py
messages/ico_rc.py
registration/ico_rc.py

# Custom project files
check.py
*.pdf
deletes/
sorted/
splits/
merged/